
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
================================
Reset Start
================================
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
================================
Reset End
================================
*/

/*
================================
General Start
================================
*/

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

/*
  ========================================
  Clearfix Start
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
  ========================================
  Clearfix End
  ========================================
*/

.container {  
  width:100vw;
  height:100vh;
  margin: 0 auto;
  background-image: linear-gradient(rgba(17, 27, 48, 0.595),rgba(13, 10, 43, 0.59)),url('assets/bgimage.png');
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;   
}
body {
   font-size: 62.5%;
}
/*
  ========================================
  Navbar Start
  ========================================
*/
.navbar{
  padding :12px 64px;
}
.logo-col {
  width: 15%;
  text-align: center;
  display: inline-block;
}
.nav-col {
  width: 70%;
  text-align: center;
  /* vertical-align: top; */
  display: inline-block;
}
.order-col {
  width: 10%;
  display: inline-block;
}
.logo {
  width: 100px;
  float: left;
}
.list-item {
  font-family: sans-serif;
  display: inline-block;
  margin-right: 36px;
  font-weight: 500;
  font-size: 1rem;
  color:rgb(255, 200, 0);
}

.list-item:last-child {
  margin-right: 0;
}
.button {
  background-color: tomato;
  color:white;
  outline :none;
  border : none;
}
.button-small {
  padding :4px 16px;
  font-size:1.2rem;
}
.button-large {
  padding :12px 32px;
  font-size:1.6rem;
}

/*
  ========================================
  Navbar End
  ========================================
*/


/*
  ========================================
  Hero Section Start
  ========================================
*/
.hero {
  margin : 0 auto;
  text-align: center;
}
.hero-heading{
  padding-top:40px;
  
  width:100%;
  font-family: 'Red Rose', sans-serif;
  font-size:8rem;
  font-weight:bolder;
  text-align: center;
  color:rgb(255, 200, 0);
  margin-bottom:16px;
}
.bottom{
  text-align: right;
  margin-right:32px;
}
.bottom-logo{
  width:88px;
   
}
/*
  ========================================
  Hero Section  End
  ========================================
*/
